

<div class="d-flex flex-column all-lists" style="background-image: url('<%= cl_image_path @list.photo.key, width: 1200, crop: :fill %>');">
  <p><span class="badge bg-info text-dark m-3"><%= pluralize(@list.movies.size, 'movie') %></span></p>
  <h2 class="text-center"><span class="badge bg-secondary"><%= @list.name %></span></h2>
</div>

<div>
  <button class="btn btn-flat"><%= link_to 'add a movie', new_list_bookmark_path(@list) %></button>
  <button class="btn btn-cancel">
    <%= link_to 'detete this list', list_path(@list), method: :delete, data: { confirm: 'Are you sure you want to delete this list?' } %>
  </button>
</div>

<div class="d-flex flex-wrap m-5">
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="card mx-3" style="width: 25rem;">
        <%= image_tag movie.poster_url, alt: movie.title, class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title"><%= movie.title %> • <%= movie.rating %> <i class="fas fa-star star-yellow"></i></h5>
          <p class="card-text"><%= movie.overview %></p>
          <p class="card-text"><small class="text-muted"><%= bookmark.comment %></small></p>
          </p>
            <small class="text-right flex-shrink-0">
              <%= link_to 'delete', bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %>
            </small>
          </p>
        </div>
      </div>
    <% end %>

</div>
